/* ==================== GOOGLE FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* ==================== VARIABLES CSS ==================== */
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --first-color: #407BFF;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --body-color: #FFFFFF;
    /*========== Font and typography ==========*/
    --body-font-family: 'Inter', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px 11... */
    --normal-font-size: 1.25rem ;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --btn-font-size: 1rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --m-0-25: .25rem;
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
    --container-padding: 2rem;
}

/* Variable For large devices */
@media screen and (min-width: 968px) {
    :root {
        --normal-font-size: 1.1rem ;
        --small-font-size: .875rem;
        --smaller-font-size: .875rem;

        --container-padding: 4rem;
    }
}
/*==================== BASE ====================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color-dark);
    font-family: var(--body-font-family);
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
}
h1,h2,h3,h4{
    font-weight: var(--font-semi-bold);
    font-family: 'Quicksand', sans-serif;
}
ul{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    font-family: var(--body-font-family);
}
/*==================== REUSABLE CSS CLASSES ====================*/

.container{
    padding: var(--container-padding);
}

.grid{
    display: grid;
    gap: 1rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.hidden{
    display: none !important;
} 
section{
    position: relative;
}
.btn{
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    max-width: 238px;
    text-align: center;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    line-height: 31.25px;
    border: none !important;
    border-radius: 10px;
    background: var(--first-color);
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    transform: translate(0px, 3px);
}


/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
    background-image: linear-gradient()
}
*/

span{
    color: var(--first-color);
    transition: .5s;
}
input, textarea{
    outline: none;
    border: 2px solid #407BFF;
    font-size: 15px;
    max-width: 413px;
    background-color: #f6f9ff;
    border-radius: 15px;
    font-family: var(--body-font-family);
}
/*==================== NavBar ====================*/

/* index design */
.index{
    width: 100%;
    height: 100vh;
    position: relative;
}
.index .index_shape{
    width: 100%;
}
.index .index_info{
    position: absolute;
    left: 11rem;
    padding-top: 2rem;
    letter-spacing: 1.3px;
}
.index .index_info h1{
    font-size: 30px;
    letter-spacing: 1.5px;
}
.index .index_info p{
    padding: 3rem 0 4rem 4rem;
    width: 26rem;
    line-height: 2;
}
.index .index_info a{
    text-decoration: none;
    color: #407BFF;
    font-size: 20px;
}
.index .index_info a:hover{
    padding-left: 5px;
    border-bottom: #407BFF 1px solid;
}
.index .index_right{
    position: absolute;
    right: 12rem;
}
.index .index_right img{
    width: 260px;
}
/* login */
.login{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/image22.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.login .logo{
    color: #407BFF;
    padding: 1rem 2rem;
    font-size: 22px;
}
.login_form{
    width: 60%;
    height: 75vh;
    margin: 5vh 20% 20vh;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
}
.login_left{
    width: 50%;
    position: absolute;
    color: #fff;
}
.login_left img{
    width: 100%;
    padding-top: 30px;
}
.login_right{
    position: absolute;
    width: 50%;
    left: 50%;
    padding: 2rem 2rem 0 0;
    box-sizing: border-box;
}
.login_form .login_right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem ;
    border: #407BFF 2px solid;
    box-sizing: border-box;
    border-radius: 10px;
}
.login .login_right h2{
    color: var(--text-color-dark);
    padding-bottom: 10px;
}
.login_right input,
.login_form select
{
    background-color: rgba(255, 255, 255, 0);
    border: #407BFF 2px solid;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    outline: #407BFF;
}
.login_form select option{
    background-color: #fff;
    color: #0070CD;
    font-size: 15px;
}
.login_form a{
    color: var(--text-color-dark);
    text-decoration: none;
}
.login_form #forget_password{
    color: #000;
    font-size: 14px;
    padding-top: 8px;
}
.login_form .login_with{
    display: flex;
    gap: 18px;
    padding: 10px 0;
    color: var(--text-color-dark);
}
.login_form h4,
.login_form h5{
    color: var(--text-color-dark);
}
.login_form h5 span a{
    color: #0070CD;
}
.login_form button{
    color: var(--text-color-dark);
    font-size: 16px;
    padding: 8px 24px;
    border: none;
    color: #fff;
    background-color: #0070CD;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
/* sign up design */
.signup{
    width: 100%;
    height: 100vh;
}
.signup .logo{
    color: #407BFF;
    padding: 1rem 2rem;
    font-size: 22px;
}
.signup .form_name{
    padding: 1.5rem 11rem 1rem;
}
.signup form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 10rem 1rem 14rem;
}
.signup label{
    display: block;
    padding-bottom: 8px;
    font-size: 14px;
    color: #000;
}
.signup input,
.signup select{
    background-color: rgba(255, 255, 255, 0);
    border: #407BFF 2px solid;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    outline: #407BFF;
    width: 20rem;
}
.signup select option{
    background-color: #fff;
    color: #0070CD;
    font-size: 15px;
}
.signup .signup_right{
    text-align: center;
}
.signup .signup_right img{
    width: 21rem;
}
.signup .signup_right button{
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    letter-spacing: 1.1px;
    word-spacing: 1.5px;
    border: #407BFF 2px solid;
    padding:15px;
    border-radius: 10px;
    margin: 3rem 0 1rem;
    outline: #407BFF;
    width: 20rem;
    font-weight: bold;
    cursor: pointer;
}
.signup div h5 span a{
    text-decoration: none;
    color: #0070CD;
}
/* Adding new product page design */
.add_product{
    width: 100%;
    height: 100vh;
    position: relative;
}
.add_product nav{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 1rem 2rem;
}
.add_product nav .nav_items{
    list-style: none; 
    display: flex;
}
.add_product nav .nav_items a{
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 18px;
}
.add_product nav .nav_items a:hover{
    background-color: #407bff;
    color: #fff;
    border: none;
}
.add_product .logo{
    color: #407BFF;
    font-size: 22px;
}
.add_product .adding{
    padding: 1rem 14rem;
    display: grid;
    grid-template-areas:'one one one one'
    'two two three three' 'four four four four'
    'five five five five' 'six six seven eight';
    row-gap: 20px;
    column-gap: 5rem;
}
.add_product .adding h2{
    font-size: 26px;
    word-spacing: 1.3px;
    padding: 15px 0;
    letter-spacing: 1.5px;
    border-bottom: #407BFF 1px solid;
    grid-area: one;
}
.medicine{
    grid-area: two;
}
.package{
    grid-area: three;
}
.reason{
    grid-area: four;
}
.file{
    grid-area: five;
}
.add_field{
    grid-area: six;
}
.cancel{
    grid-area: seven;
}
.save{
    grid-area: eight;
}
.add_product .adding input{
    background-color: rgba(255, 255, 255, 0);
    border: #407BFF 2px solid;
    padding:  12px;
    border-radius: 10px;
    box-sizing: border-box;
    outline: #407BFF;
    width: 24rem;
}
.add_product .adding label,
.add_product .adding p{
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding-bottom: 8px;
}
.add_product .adding p{
    padding-bottom: 20px;
}
.add_product .adding label span,
.add_product .adding p span{
    color:  #999;
}
.add_product .adding .reason input{
    min-height: 8rem;
    width: 40rem;
}
.add_product .adding .upload-button {
    color: #407BFF;
    background-color: rgba(255, 255, 255, 0);
    border: #407BFF 2px solid;
    padding: 12px 12rem;
    border-radius: 10px;
    outline: #407BFF;
    position: relative;
}
.add_product .adding .upload-button img{
    position: absolute;
    right: 10px;
}
.add_product .adding .add_field{
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    font-size: 18px;
}
.add_product .adding button{
    box-sizing: border-box;
    color: #000;
    border: #407BFF 2px solid;
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    letter-spacing: 1.1px;
    word-spacing: 1.5px;
    padding:10px 18px;
    border-radius: 10px;
    outline: #407BFF;
    width: 10rem;
    font-weight: bold;
    cursor: pointer;
}
.add_product .adding .save{
    color: #fff;
    background-color: #407BFF;
}
/* pop up design */
.add_product .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #407BFF;
    padding: 2rem 1rem 2rem 4rem;
    border-radius: 10px;
    color: #fff;
}

.add_product .popup h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 25px;
    display: inline-block;
    padding-right: 10rem;
}
.add_product .popup form{
    display: flex;
    flex-direction: column;
}
.add_product .popup form input{
    border: none;
    outline: #407BFF;
    padding: 10px 20px;
    border-radius: 12px;
    margin-left: 1rem;
    font-size: 18px;
    margin: 20px 0 0;
}
.add_product .popup label{
    font-size: 25px;
    margin-right: 20px;
}
.add_product .popup form .req {
    padding-left: 6rem;
}
.add_product .popup form .req label{
    font-size: 18px;
    cursor: pointer;
}
.add_product .popup button{
    color: #fff;
    border: #fff 2px solid;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 12px;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
}
.add_product .popup .buttons{
    padding-left: 5rem;
    margin-top: 30px;
}
.add_product .popup .buttons .save{
    font-size: 20px;
    margin-left: 10px;
}
.add_product .popup .close{
    width: 30px;
    cursor: pointer;
}

/* ==================== Product_Overview Page ==================== */

.product_overview{
    padding: 3rem;
    justify-content: center;
    gap: 5rem;
}

/* === New Product === */
.product_overview .product_overview_title{
    justify-content:space-between;
    align-items: center;
}

.product_overview .product_overview_title h2{
    color: var(--text-color-dark);
    font-weight: 700;
    font-size: 25px;
    line-height: 31.25px;
}
.product_overview .product_overview_title .btn{
    font-weight: 700;
    font-size: 25px;
}

/* === Products Table === */
.product_overview table{
    /* max-width: 1014px; */
    /* width:  100%; */
    text-align: center;
    border-radius: 0 0 15px 15px;
    background-color: var(--first-color);
}
.product_overview .table_buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px 15px 0 0;
}
.product_overview .table_buttons a:nth-child(1){
    border-radius: 15px 0 0 0;
}
.product_overview .table_buttons a:nth-child(2){
    border-radius: 0 15px 0 0;
}

.product_overview .table_buttons a{
    padding: 2rem;
    color: var(--text-color-dark);
    font-size: 30px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    line-height: 37.5px;
}
.product_overview .table_buttons .active{
    padding: 2rem;
    color: #fff;
    background-color: var(--first-color);
    transition: .2s;
}
.product_overview table tr{
    border-bottom: 2px solid #D9D9D9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.product_overview table tr:last-child{
    border-bottom: none;
}
.product_overview table th input,
.product_overview table td input{
    scale: 1.5;
}
.product_overview table td input:checked{
    background-color: #fff;
}
.product_overview table th h3{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    line-height: 31.25px;
}
.product_overview table td p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
}
.product_overview table td i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.product_overview table .flex{
   justify-content: space-between;
   align-items: center;
}
.product_overview table td,
.product_overview table th{
    padding: 2rem;
}

body::-webkit-scrollbar{
    max-width: 10px;
    border: 1px solid #407bff;
    background-color: #e0eaff;
}
body::-webkit-scrollbar-thumb{
    background: var(--first-color);
    transition: opacity .6s ease-in-out;
}

/* ---- Dropdown ---- */
.dropdown_container{
    justify-self: center;
}

.dropdown{
    position: relative;
    width: max-content;
    transform: scale(0);
    opacity: 0;
    transform-origin: 10rem 0rem;
    transition: opacity .4s, transform .4s;
}
.dropdown_button,
.dropdown_item{
    display: flex;
    align-items: center;
    column-gap: .4rem;
}
.dropdown_button{
    border: none;
    outline: none;
    background-color: var(--body-color);
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
}
.dropdown_icon,
.dropdown__icons{
    font-size: 20px;
    color: var(--first-color);
}
.dropdown_arrow{
    font-size: 18px;
}
.dropdown_name{
    color: #373f51;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    line-height: 31.25px;
}
.dropdown__icons{
    width: 24px;
    height: 24px;
    display: grid;
    place-items:  center;
}
.dropdown_arrow,
.dropdown_close{
    position: absolute;
    transition: opacity .1s, transform .4s;
}
.dropdown_close{
    opacity: 0;
}
.dropdown_menu{
    position: absolute;
    left: 0;
    top: 4.5rem;
    width: 100%;
    background-color: var(--body-color);
    padding: 1rem;
    border-radius: 12px;
    display: grid;
    row-gap: 1.5rem;
    box-shadow: 2px 1px 5px #767676;
    
    transform: scale(.1);
    transform-origin: 10rem -2rem;
    pointer-events: none;
    transition: opacity .4s, transform .4s;
    opacity: 0;
}
.dropdown_item{
    cursor: pointer;
    transition: color .3s;
}
.dropdown_item:hover .dropdown_name{
    color: var(--first-color);
}


/* Rotate and hide icon */

.show_dropdown .dropdown_close{
    opacity: 1;
    transform: rotate(-180deg);
}
.show_dropdown .dropdown_arrow{
    opacity: 0;
    transform: rotate(180deg);
}

/* Show Dropdown Button */
.show_dropdown_button{
    transform: scale(1);
    opacity: 1;
}
/* Show Dropdown Menu */
.show_dropdown .dropdown_menu{
    transform: scale(1);
    opacity: 1;
    pointer-events: initial;
}




/* ==================== RESPONSIVE ==================== */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}